@mixin max-content($size: 1440px) {
  max-width: $size;
  margin: 0 auto;
}

@mixin content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  @content;
}

@mixin box-shadow($opacity: 0.15) {
  box-shadow: rgba(0, 0, 0, $opacity) 0px 4px 12px;
}

@mixin box-opacity($opacity: 0.25) {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  @include content-center;

  background-color: rgba(0, 0, 0, $opacity);

  @content;
}

@mixin margin-height-section {
  & > section {
    margin: 50px auto;

    @include media-tablet {
      margin: 30px auto;
    }

    @include media-mobile {
      margin: 20px auto;
    }

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

@mixin transition-arrow($className, $size, $direction: right) {
  @if ($direction == left) {
    $size: calc($size * -1);
  }

  & > #{$className} {
    transition: transform 300ms;
    cursor: pointer;
  }

  & > #{$className}:hover {
    transform: translateX(calc($size * 0.2));
  }

  & > #{$className}:active {
    transition: transform 150ms;

    transform: translateX($size * 0.5);
  }
}

@mixin media-tablet($size: 1024px) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin media-mobile($size: 768px) {
  @media screen and (max-width: $size) {
    @content;
  }
}
