.ErrorBoundary {
  @include content-center {
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }

  &__title {
    font: {
      weight: 700;
      size: 263px;
    }
  }

  &__message {
    font: {
      weight: 500;
      size: 36px;
    }
  }

  &__link {
    font: {
      weight: 500;
      size: 18px;
    }
  }
}
