.Header {
  @include content-center {
    justify-content: space-between;
  }

  @include media-mobile {
  }

  &__logo {
    height: 68px;

    @include media-mobile {
      height: auto;
      width: 140px;
    }
  }

  &-navbar {
    display: flex;

    &__link {
      font: {
        weight: 500;
        size: 24px;
      }

      margin: 0 2rem;

      @include media-mobile {
        margin: 0 8px;
        font-size: 12px;
      }
    }
  }
}
