.Home {
  @include margin-height-section;

  &-logements {
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;

    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;

    @include media-tablet {
      padding: 25px;
      gap: 25px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-mobile {
      grid-template-columns: repeat(1, 1fr);
      background-color: #ffffff;
      padding: 0;
    }
  }
}
