.Slideshow {
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  position: relative;

  @include box-shadow;

  @include media-tablet {
    height: calc(415px * 0.75);
  }

  @include media-mobile {
    height: 255px;
    border-radius: 10px;
  }

  &__dots,
  & > img {
    user-select: none;
  }

  &__dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 24px;
    transform: translate(-50%, 0);
    color: #ffffff;

    text-shadow: 0 0 5px #121212a4;

    @include media-tablet {
      margin-bottom: calc(24px * 0.75);
    }

    @include media-mobile {
      display: none;
    }
  }

  & > img {
    height: 100%;
  }

  &__arrow {
    $paddingSize: 20px;
    $width: calc(60px + $paddingSize);

    position: absolute;

    width: $width;
    padding: $paddingSize;

    height: auto;
    user-select: none;
    object-fit: contain;

    display: flex;
    align-items: center;
    height: 100%;

    @include media-tablet {
      width: calc($width * 0.8);
    }

    @include media-mobile {
      width: calc($width * 0.7);
    }

    $size: 20px;

    &__left {
      left: 0;

      filter: drop-shadow(5px 0px 2px #1212121e);

      @include transition-arrow('img', $size, left);

      @include media-tablet {
        @include transition-arrow('img', calc($size * 0.5), left);
      }
    }

    &__right {
      right: 0;

      filter: drop-shadow(-5px 0px 2px #1212121e);

      @include transition-arrow('img', $size, right);

      @include media-tablet {
        @include transition-arrow('img', calc($size * 0.5), right);
      }
    }
  }
}
