.Slideshow {
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  position: relative;

  @include box-shadow;

  @include media-tablet {
    height: calc(415px * 0.75);
  }

  @include media-mobile {
    height: 255px;
    border-radius: 10px;
  }

  & > img {
    height: 100%;
  }

  &__arrow {
    $size: 20px;

    position: absolute;

    width: 50px;
    height: auto;
    user-select: none;
    object-fit: contain;

    display: flex;
    align-items: center;
    height: 100%;

    @include media-tablet {
      width: calc(50px * 0.5);
    }

    @include media-mobile {
      width: 14px;
    }

    &__left {
      left: $size;

      @include transition-arrow(img, $size, left);

      @include media-tablet {
        left: calc($size * 0.5);

        @include transition-arrow(img, calc($size * 0.5), left);
      }
    }

    &__right {
      right: $size;

      @include transition-arrow(img, $size, right);

      @include media-tablet {
        right: calc($size * 0.5);
      }
    }
  }
}
